<div class="vertical-center left-narrow-margin opacity-property">

    <img src="/assets/img/doghouse_icon.png" class="title-icon">

    <h1>DoJo:</h1>
    <h3>Dog Journal</h3>

    <br>
    <hr><br>

    {{!-- NEW SECTION --}}

    {{#if petInfo}}

    <h2>Add Pet Info</h2>

    <a class="nav-button btn btn-success float-right" href="/petinfo" role="button">Back</a>

    <br>

    <form id="addPetInfo">
        <div class="form-group">
            <label for="petName">Pet Name</label>
            <input type="text" class="form-control" id="petName" name="petName" placeholder="Pet Name">
        </div>

        <div class="form-group">
            <label for="breed">Breed</label>
            <input type="text" class="form-control" id="breed" name="breed" placeholder="Breed">
        </div>

        <div class="form-group">
            <label for="weight">Weight (in pounds)</label>
            <input type="text" class="form-control" id="weight" name="weight" placeholder="Weight">
        </div>

        <div class="form-group">
            <label for="age">Age (in years)</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Age">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>

    {{/if}}

    {{!-- NEW SECTION --}}

{{#if vet}}

    <h2>Add Vet Info</h2>

    <a class="nav-button btn btn-success float-right" href="/vet" role="button">Back</a>

    <br>

    <form id="addVet">
            <div class="form-group">
                <label for="hospital">Hospital/Clinic</label>
                <input type="text" class="form-control" id="hospital" name="hospital" placeholder="Hospital or Clinic">
            </div>

            <div class="form-group">
                <label for="vetName">Vet Name</label>
                <input type="text" class="form-control" id="vetName" name="vetName" placeholder="Vet Name">
            </div>

            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000">
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
            </div>

            <input type="submit" value="Submit" class="btn btn-primary">

    </form>

{{/if}}


{{!-- NEW SECTION --}}

{{#if vaccinations}}

    <h2>Add Vaccination</h2>

    <a class="nav-button btn btn-success float-right" href="/vaccines" role="button">Back</a>

    <br>

        <form id="addVaccine">
        <div class="form-group">
            <label for="vaccineName">Vacinne</label>
            <input type="text" class="form-control" id="vaccineName" name="vaccineName" placeholder="Vaccine">
        </div>

        <div class="form-group">
            <label for="vaccineDate">Date Received</label>
            <input type="date" class="form-control" id="vaccineDate" name="vaccineDate" placeholder="Date Received">
        </div>

        <div class="form-group">
            <label for="expires">Expires</label>
            <input type="date" class="form-control" id="expires" name="expires" placeholder="Expires">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>

{{/if}}

{{!-- NEW SECTION --}}

{{#if activityTracker}}

    <h2>Add Activity</h2>

    <a class="nav-button btn btn-success float-right" href="/activity" role="button">Back</a>

    <br>

    <form id="addActivity">
        <div class="form-group">
            <label for="activityType">Activity Type</label>
            <select id="activityType" class="form-control" name="activityType">
                <option value="Walk">Walk</option>
                <option value="Run">Run</option>
                <option value="Dog Park">Dog Park</option>
                <option value="Day Care">Day Care</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="startOrStop">Start/Stop</label>
            <select id="startOrStop" class="form-control" name="startOrStop">
                <option value="Start">Start</option>
                <option value="Stop">Stop</option>
            </select>
        </div>

        {{!-- <div class="form-group">
            <label for="startTime">Start Time</label>
            <input type="text" class="form-control" id="startTime" name="startTime" placeholder="Start Time">
        </div>

        <div class="form-group">
            <label for="endTime">End Time</label>
            <input type="text" class="form-control" id="endTime" name="endTime" placeholder="End Time">
        </div> --}}

        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>
{{/if}}


{{!-- NEW SECTION --}}

{{#if dietTracker}}

    <h2>Add Meal</h2>

    <a class="nav-button btn btn-success float-right" href="/diet" role="button">Back</a>

    <br>

    <form id="addDiet">
        <div class="form-group">

            <label for="mealType">Meal Type</label>
            <select id="mealType" class="form-control" name="activityType">
                <option value="Dog Food">Dog Food</option>
                <option value="Chew or Bone">Chew or Bone</option>
                <option value="Kong">Kong</option>
                <option value="Other">Other</option>
            </select>
        </div>

        {{!-- <div class="form-group">
            <label for="mealTime">Meal Time</label>
            <input type="text" class="form-control" id="mealTime" name="mealTime" placeholder="Meal Time">
        </div> --}}

        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>
{{/if}}

    {{!-- NEW SECTION --}}

{{#if pottyTracker}}

    <h2>Add Potty Info</h2>

    <a class="nav-button btn btn-success float-right" href="/potty" role="button">Back</a>

    <br>

    <form id="addPotty">
        <div class="form-group">

            <label for="pottyType">Potty Type</label>
            <select id="pottyType" class="form-control" name="pottyType">
                <option value="Pee">Pee</option>
                <option value="Poo">Poo</option>
            </select>
        </div>

        {{!-- <div class="form-group">
            <label for="pottyTime">Potty Time</label>
            <input type="text" class="form-control" id="pottyTime" name="pottyTime" placeholder="Potty Time">
        </div> --}}

        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>
{{/if}}

{{!-- NEW SECTION --}}

    {{#if hygiene}}

    <h2>Add Hygiene Info</h2>

    <a class="nav-button btn btn-success float-right" href="/hygiene" role="button">Back</a>

    <br>

    <form id="addHygiene">
        <div class="form-group">

            <label for="hygieneType">Type</label>
            <select id="hygieneType" class="form-control" name="hygieneType">
                <option value="Groom">Groom</option>
                <option value="Nail Clip">Nail Clip</option>
                <option value="Bath">Bath</option>
                <option value="Other">Other</option>
            </select>
        </div>

        {{!-- <div class="form-group">
            <label for="timeReceived">Time Received</label>
            <input type="text" class="form-control" id="timeReceived" name="timeReceived" placeholder="Time Received">
        </div> --}}

        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>
{{/if}}


</div>