<div class="vertical-center">

    <h1>DoJo:</h1>
    <h3>Doggy Journal</h3>

    <br>
    <hr><br>

    {{!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </nav> --}}
    <div class="container-fluid"><a class="btn btn-primary" href="/login" role="button">Logout</a></div>

    {{!-- var routesList = ["info","health", "activity", "diet","potty","hygiene"]; --}}

    <a href="/petinfo">
        <div class="figure" id="home-page">
            <h6>Pet Info</h6>
        </div>
    </a>

    <a href="/health">
        <div class="figure" id="home-page">
            <h6>Health</h6>
        </div>
    </a>

    <a href="/activity">
        <div class="figure" id="home-page">
            <h6>Activity</h6>
        </div>
    </a>

    <a href="/diet">
        <div class="figure" id="home-page">
            <h6>Diet</h6>
        </div>
    </a>

    <br>

    <a href="/potty">
        <div class="figure" id="home-page">
            <h6>Potty</h6>
        </div>
    </a>

    <a href="/hygiene">
        <div class="figure" id="home-page">
            <h6>Hygiene</h6>
        </div>
    </a>

    <a href="?">
        <div class="figure" id="home-page">
            <h6>Places</h6>
        </div>
    </a>

    <a href="?">
        <div class="figure" id="home-page">
            <h6>Resources</h6>
        </div>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/members.js"></script>