<div class="left-middle-margin">

    <h1>DoJo:</h1>
    <h3>Doggy Journal</h3>

    <br>
    <hr><br>

    <div class="container-fluid">
        <a class="btn btn-primary" href="/login" role="button">Logout</a>
    </div>

    <div class="no-padding portfolio_container clearfix">

        <div class="">
            <a href="/petinfo" class="portfolio_item">
                <img src="/assets/img/section/pet_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Pet Info</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {{!-- <div class="">
            <a href="/health" class="portfolio_item">
                <img src="/assets/img/section/health_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Vet Info</span>
                        </div>
                    </div>
                </div>
            </a>
        </div> --}}

        <div class="">
            <a href="/vet" class="portfolio_item">
                <img src="/assets/img/section/vet_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Vet Info</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="/vaccines" class="portfolio_item">
                <img src="/assets/img/section/vacinne_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>vaccinations</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="/activity" class="portfolio_item">
                <img src="/assets/img/section/activity_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Activity</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="/diet" class="portfolio_item">
                <img src="/assets/img/section/diet_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Diet</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="/potty" class="portfolio_item">
                <img src="/assets/img/section/potty_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Potty</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="/hygiene" class="portfolio_item">
                <img src="/assets/img/section/hygiene_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Hygiene</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="/favorites" class="portfolio_item">
                <img src="/assets/img/section/favorites_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Favorites</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="/resources" class="portfolio_item">
                <img src="/assets/img/section/paw_icon.png" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info"> <span>Resources</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    {{!-- <a href="/petinfo">
        <div class="figure">
            <figure class="section-title">Pet Info</figure>
            <img src="/assets/img/section/pet_icon.png" class="icon">
        </div>
    </a> --}}

    {{!-- <a href="/health">
        <div class="figure section-icon">
            <img src="/assets/img/section/health_icon.png" class="icon">
        </div>
    </a> --}}

    {{!-- <a href="/activity">
        <div class="figure section-icon">
            <img src="assets/img/section/activity_icon.png" class="icon">
        </div>
    </a> --}}

    {{!-- <a href="/diet">
        <div class="figure section-icon">
            <img src="/assets/img/section/diet_icon.png" class="icon">
        </div>
    </a> --}}

    {{!-- <a href="/potty">
        <div class="figure section-icon">
            <img src="assets/img/section/potty_icon-2.png" class="icon">
        </div>
    </a> --}}

    {{!-- <a href="/hygiene">
        <div class="figure section-icon">
            <img src="/assets/img/section/hygiene_icon.png" class="icon">
        </div>
    </a> --}}

    {{!-- <a href="/favorites">
        <div class="figure section-icon">
            <img src="/assets/img/section/favorites_icon.png" class="icon">
        </div>
    </a> --}}

    {{!-- <a href="/resources">
        <div class="figure section-icon">
            <img src="/assets/img/section/paw_icon.png" class="icon">
        </div>
    </a> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>