<div class= "vertical-center">

<h1>DoJo:</h1>
<h3>Doggy Journal</h3>

<br><hr><br>

{{!-- var routesList = ["info","health", "activity", "diet","potty","hygiene"]; --}}

<a href="/info">
    <div class="figure" id="home-page">
        <h6>Pet Info</h6>
    </div>
</a>

<a href="/health">
    <div class="figure" id="home-page">
        <h6>Health</h6>
    </div>
</a>

<a href="/activity">
    <div class="figure" id="home-page">
        <h6>Activity</h6>
    </div>
</a>

<a href="/diet">
    <div class="figure" id="home-page">
        <h6>Diet</h6>
    </div>
</a>

<br>

<a href="/potty">
    <div class="figure" id="home-page">
        <h6>Potty</h6>
    </div>
</a>

<a href="/hygiene">
    <div class="figure" id="home-page">
        <h6>Vet</h6>
    </div>
</a>

<a href="?">
    <div class="figure" id="home-page">
        <h6>Places</h6>
    </div>
</a>

<a href="?">
    <div class="figure" id="home-page">
        <h6>Resources</h6>
    </div>
</a>