<div class="left-wide-margin">

    <h1>DoJo:</h1>
    <h3>Doggy Journal</h3>

    <br>
    <hr><br>

    <div class="container-fluid"><a class="btn btn-primary" href="/login" role="button">Logout</a></div>


    <a href="/petinfo">
        <div class="figure section-icon">
            {{!-- <h6>Pet Info</h6> --}}
            {{!-- <figure class="section-title">Pet Info</figure>  --}}
            <img src="/assets/img/section/pet_icon.png" class="icon">
        </div>
    </a>

    <a href="/health">
        <div class="figure section-icon">
            {{!-- <h6>Health</h6> --}}
            <img src="/assets/img/section/health_icon.png" class="icon">
        </div>
    </a>

    <a href="/activity">
        <div class="figure section-icon">
            {{!-- <h6>Activity</h6> --}}
            <img src="assets/img/section/activity_icon.png" class="icon">
        </div>
    </a>

    <a href="/diet">
        <div class="figure section-icon">
            {{!-- <h6>Diet</h6> --}}
            <img src="/assets/img/section/diet_icon.png" class="icon">
        </div>
    </a>

    <a href="/potty">
        <div class="figure section-icon">
            {{!-- <h6>Potty</h6> --}}
            <img src="assets/img/section/potty_icon-2.png" class="icon">
        </div>
    </a>

    <a href="/hygiene">
        <div class="figure section-icon">
            {{!-- <h6>Hygiene</h6> --}}
            <img src="/assets/img/section/hygiene_icon.png" class="icon">
        </div>
    </a>

    <a href="/favorites">
        <div class="figure section-icon">
            {{!-- <h6>Favorites</h6> --}}
            <img src="/assets/img/section/favorites_icon.png" class="icon">
        </div>
    </a>

    <a href="/resources">
        <div class="figure section-icon">
            {{!-- <h6>Resources</h6> --}}
            <img src="/assets/img/section/paw_icon.png" class="icon">
        </div>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/members.js"></script>