<div class="wrapper app-body">

    <h1 class="text-center">TITLE HERE</h1>


    <div>
        <form class="text-center">
            <div class="form-group form-check">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Ski</label>
                        </div>

                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Hike</label>
                        </div>

                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Soak</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Drink</label>
                        </div>

                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Chill</label>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>

            <br>
            <hr><br>

            <button type="submit" class="btn btn-primary">Surprise me!</button>

            <br>
            <hr><br>

            <button type="submit" class="btn btn-primary">Share your experience!</button>




        </form>
    </div>
</div>