<div class="vertical-center left-narrow-margin">

    <h1>DoJo:</h1>
    <h3>Doggy Journal</h3>

    <br>
    <hr><br> 

    <h3>LOGIN</h3>

    <form class="login">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

        <br><br>

        <h6>Don't have a Login?</h6>
        <a class="btn btn-success" href="/signup" role="button">Sign Up!</a></p>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/login.js"></script>


</div>