<div class="vertical-center left-narrow-margin">

    <img src="/assets/img/doghouse_icon.png" class="title-icon">

    <h1>DoJo:</h1>
    <h4>Dog Journal</h4>

    <br><hr><br>

    {{!-- RESOURCE INFO HERE --}}

</div>