<div class="left-narrow-margin">

    <div class="opacity-property">
        <img src="/assets/img/doghouse_icon.png" class="title-icon">
        <h1>DoJo:</h1>
        <h4>Dog Journal</h4>
    </div>

    <hr>

    	<a class="nav-button btn btn-success float-right" href="/home" role="button"><i class="fas fa-home"></i></a>

    <br>
    <br>

    {{!-- RESOURCE INFO HERE --}}

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Pet Suppliers
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li><a href="https://petco.com/" target="_blank">Petco.com</a></li>
                        <li><a href="https://www.petsmart.com/" target="_blank">Petsmart.com</a></li>
                        <li><a href="https://chewy.com/" target="_blank">Chewy.com</a></li>
                        <li><a href="https://barkbox.com/" target="_blank">Barkbox.com</a></li>
                        <li><a href="https://pridebites.com/" target="_blank">PrideBites.com </a></li>
                        <li><a href="https://amazon.com/" target="_blank">Amazon.com</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Obedience Training
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li><a href="https://apdt.com/" target="_blank">Apdt.com</a></li>
                        <li><a href="https:/www.caninedimensions.com/" target="_blank">Caninedimensions.com</a></li>
                        <li><a href="https:/www.ckdogs.com" target="_blank">Ckdogs.com</a></li>
                        <li><a href="https:/www.barkbusters.com" target="_blank">Barkbusters.com</a></li>
                        <li><a href="https:/usaservicedogregistration.com" target="_blank">Usaservicedogregistration.com
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Safety Resources
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li><a href="https:/liamjperkfoundation.org/" target="_blank">Liamjperkfoundation.org</a></li>
                        <li><a href="https:/easypetfence.com/" target="_blank">Easypetfence.com</a></li>
                        <li><a href="https:/www.livingwithkidsanddogs.com/" target="_blank">Livingwithkidsanddogs.com</a></li>
                        <li><a href="https:/bestfriends.org/resources/dog-safety-staying-safe-around-dogs/" target="_blank">bestfriends.org</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        Dog Rescues/Adoption/Rehoming Resources
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li><a href="https:/theshelterpetproject.org/" target="_blank">The shelterpetproject.org</a></li>
                        <li><a href="https:/http://milldogrescue.org/" target="_blank">Milldogrescue.org</a></li>
                        <li><a href="https:/www.petfinder.com/" target="_blank">Petfinder.com</a></li>
                        <li><a href="https:/www.adoptapet.com/" target="_blank">Adoptapet.com</a></li>
                        <li><a href="https:/www.akc.org/" target="_blank">AKC.org</a></li>
                        <li><a href="https:/www.humanesociety.org/" target="_blank">Humanesociety.org</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        Grooming
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li><a href="https:/wagnwash.com/" target="_blank">Wagnwash.com</a></li>
                        <li><a href="https:/www.petco.com/shop/en/petcostore/s/dog-grooming/" target="_blank">Petco.com</a></li>
                        <li><a href="https:/nationaldoggroomers.com/locator//" target="_blank">Nationaldoggroomers.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                        Pet Care Resources
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li><a href="https:/www.campbowwow.com/" target="_blank">CampBowwow.com</a></li>
                        <li><a href="https:/www.rover.com/" target="_blank">Rover.com</a></li>
                        <li><a href="https:/www.care.com/pet-care/" target="_blank">Care.com</a></li>
                        <li><a href="https:/petsitters.org/" target="_blank">Petsitters.org</a></li>
                        <li><a href="https:/www.dogtopia.com/" target="_blank">Dogtopia.com</a></li>
                    </ul>
                </div>
            </div>
        </div>



    </div>