body {
    background: url("../img/background-snow.jpg") no-repeat fixed center;
}


.wrapper {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.app-body {
    height: 75%;
    width: 75%;
    background-color: #fff;
    opacity: 0.9;
    margin-top: 100px
}

/* sticky footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}