body {
    background: url("/assets/img/background-snow") no-repeat fixed center;
}

/* sticky footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}