body {
    background: url("../img/brown-sleepy.jpg") no-repeat fixed center;
    background-size: cover;
}

.wrapper {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

#index-page {
    width: 33%;
    margin: 15px;
}

/* sticky footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}